* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  color: #333;
  height: 100vh;
}

.full-view {
  min-height: 100vh;
}
.greeting {
  margin-bottom: 7.5rem;
  background-color: #ced8d9;
  padding: 10rem 0;
}
#greet {
  font-size: 12rem;
  margin-bottom: 7.5rem;
}
#greet-txt {
  font-size: 4rem;
}
.face {
  max-width: 25rem;
  border-radius: 10rem;
  margin-bottom: 4.5rem;
}
.about-me h1 {
  font-size: 7.5rem;
  margin-bottom: 2rem;
}
p {
  font-size: 2.5rem;
  line-height: 7.5rem;
}
.skill {
  margin: 2rem;
  transition: 2s;
}
.heading h1 {
  font-size: 7.5rem;
}
.underline {
  margin-bottom: 7.5rem;
}
.skill img {
  max-width: 10rem;
}
.row {
  margin-bottom: 7.5rem;
}
.form {
}
.form input {
  font-size: 2.5rem;
}
.form textarea {
  font-size: 2.5rem;
}
.form button {
  font-size: 3.5rem;
}
// ANIMATION
.reveal {
  animation: reveal both;
  animation-timeline: view(70% 5%);
}
@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(20rem) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.slide-left-r1 {
  animation: slide-left-r1 both;
  animation-timeline: view(70% 5%);
}
@keyframes slide-left-r1 {
  25% {
    transform: translateX(200px) rotate(45deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
.slide-right-r1 {
  animation: slide-right-r1 1s both;
  animation-timeline: view(70% 5%);
}
@keyframes slide-right-r1 {
  25% {
    transform: translateX(-200px) rotate(45deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
.slide-left {
  animation: slide-left 1s both;
  animation-timeline: view(70% 5%);
}
@keyframes slide-left {
  from {
    transform: translateX(200px) rotate(45deg);
  }
  to {
    transform: translateX(0) rotate(0);
  }
}
.slide-right {
  animation: slide-right 1s both;
  animation-timeline: view(70% 5%);
}
@keyframes slide-right {
  from {
    transform: translateX(-200px) rotate(45deg);
  }
  to {
    transform: translateX(0) rotate(0);
  }
}
.center-image {
  animation: center-image 1s both;
  animation-timeline: view(70% 5%);
}
@keyframes center-image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loading {
  animation: loading 1s ease-in 0.5s forwards;
}
@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
